---
import PostCard from "@/components/blog/PostCard.astro";
import { getPostsWithNewestFirst } from "@/global.js";
import BlogBaseLayout from "@/layouts/BlogBaseLayout.astro";

const publicPosts = getPostsWithNewestFirst();
---

<BlogBaseLayout title="Archive | Blog of Anh Tuan Le (@Leleat)">
    <h1>Archive</h1>
    <p>All my posts in reverse chronological order.</p>
    {publicPosts.map((post) => <PostCard {post} />)}
</BlogBaseLayout>

<style>
    p {
        color: var(--color-text-dim);
        margin-block: 0.5rem;
    }
</style>
