---
import PostCard from "@/components/blog/PostCard.astro";
import { getPostsWithNewestFirst, groupPostsByYear } from "@/global.js";
import BlogBaseLayout from "@/layouts/BlogBaseLayout.astro";

const publicPosts = getPostsWithNewestFirst();
const groupedPosts = groupPostsByYear(publicPosts);
---

<BlogBaseLayout title="Archive | Blog of Anh Tuan Le (@Leleat)">
    <h1>Archive</h1>
    <p>All my posts in reverse chronological order.</p>
    {
        groupedPosts.map(({ year, posts }) => (
            <section class="year-section">
                <h2 class="year-heading" id={year}>
                    <a href={`#${year}`}>{year}</a>
                </h2>
                <div class="posts-list">
                    {posts.map((post) => (
                        <PostCard {post} />
                    ))}
                </div>
            </section>
        ))
    }
</BlogBaseLayout>

<style>
    @view-transition {
        navigation: auto;
    }

    .year-section {
        padding-block-start: 3rem;
        padding-block-end: 3rem;
        border-block: 1px solid var(--color-background-button);

        &:first-of-type {
            margin-block-start: 2.5rem;
        }

        &:last-of-type {
            border-block-end: none;
            padding-block-end: 0;
        }
    }

    .year-heading {
        font-size: 1.25rem;
        margin-block-start: 0;
        margin-block-end: 1rem;
    }

    @media (min-width: 40rem) {
        .year-section {
            border: none;

            &:first-of-type {
                margin-block-start: 0;
            }
        }
    }
</style>
