---
import BlogBaseLayout from "../../layouts/BlogBaseLayout.astro";
import PostCard from "../../components/blog/PostCard.astro";
import { getPublicPostsWithNewestFirst } from "../../global.js";

const publicPosts = getPublicPostsWithNewestFirst();
---

<BlogBaseLayout title="Blog | Anh Tuan Le (@Leleat)">
    <h1>Hello There</h1>
    <p>
        I'm Lele or, in real life, Anh (he/him), a budding software developer.
        This blog is a place to share my ideas, experiments, and whatever tech
        stuff I'm into at the moment.
    </p>
    {publicPosts.map((post) => <PostCard {post} />)}
</BlogBaseLayout>

<style>
    @view-transition {
        navigation: auto;
    }

    p {
        color: var(--color-text-dim);
        margin-block: 0.5rem;
    }
</style>
