---
import "../../global.js";

const { class: className, ...rest } = Astro.props;
---

<section class={className} {...rest}>
    <h2 id="contact"><a href="#contact">Get in Touch</a></h2>
    <p>
        Feel free to reach out, if you want to talk about software, gaming,
        KDramas, or other fun things. I'm always open to chat. I love hearing
        and learning from others, sharing ideas and passion. That is the reason
        why I write and love open-source software!
    </p>
    <ul class="card-container">
        <li class="card">
            <address>
                <span class="card-title">
                    <!-- https://icons.getbootstrap.com/icons/envelope-fill/ -->
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                        aria-hidden="true"
                    >
                        <path
                            d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"
                        ></path>
                    </svg>
                    E-Mail
                </span>
                <div class="card-body">
                    <code>anhtuale</code> (note the lack of
                    <code>n</code> in <code>tuan</code>)
                    <code>@gmail.com</code>
                </div>
            </address>
        </li>
        <li class="card">
            <address>
                <span class="card-title">
                    <!-- https://upload.wikimedia.org/wikipedia/commons/7/7c/Matrix_icon.svg -->
                    <svg
                        width="22"
                        height="22"
                        fill="currentColor"
                        viewBox="0 0 27.9 32"
                        xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true"
                    >
                        <g transform="translate(-.095 .005)">
                            <path
                                d="m27.1 31.2v-30.5h-2.19v-0.732h3.04v32h-3.04v-0.732z"
                            ></path>
                            <path
                                d="m8.23 10.4v1.54h0.044c0.385-0.564 0.893-1.03 1.49-1.37 0.58-0.323 1.25-0.485 1.99-0.485 0.72 0 1.38 0.14 1.97 0.42 0.595 0.279 1.05 0.771 1.36 1.48 0.338-0.5 0.796-0.941 1.38-1.32 0.58-0.383 1.27-0.574 2.06-0.574 0.602 0 1.16 0.074 1.67 0.22 0.514 0.148 0.954 0.383 1.32 0.707 0.366 0.323 0.653 0.746 0.859 1.27 0.205 0.522 0.308 1.15 0.308 1.89v7.63h-3.13v-6.46c0-0.383-0.015-0.743-0.044-1.08-0.0209-0.307-0.103-0.607-0.242-0.882-0.133-0.251-0.336-0.458-0.584-0.596-0.257-0.146-0.606-0.22-1.05-0.22-0.44 0-0.796 0.085-1.07 0.253-0.272 0.17-0.485 0.39-0.639 0.662-0.159 0.287-0.264 0.602-0.308 0.927-0.052 0.347-0.078 0.697-0.078 1.05v6.35h-3.13v-6.4c0-0.338-7e-3 -0.673-0.021-1-0.0114-0.314-0.0749-0.623-0.188-0.916-0.108-0.277-0.3-0.512-0.55-0.673-0.258-0.168-0.636-0.253-1.14-0.253-0.198 0.0083-0.394 0.042-0.584 0.1-0.258 0.0745-0.498 0.202-0.705 0.374-0.228 0.184-0.422 0.449-0.584 0.794-0.161 0.346-0.242 0.798-0.242 1.36v6.62h-3.13v-11.4z"
                            ></path>
                            <path
                                d="m0.936 0.732v30.5h2.19v0.732h-3.04v-32h3.03v0.732z"
                            ></path>
                        </g>
                    </svg>
                    Matrix
                </span>
                <a
                    class="card-body"
                    href="https://matrix.to/#/@leleat:matrix.org"
                    target="_blank"
                    rel="noreferrer"
                >
                    https://matrix.to/#/@leleat:matrix.org
                </a>
            </address>
        </li>
        <li class="card">
            <address>
                <span class="card-title">
                    <!-- https://icons.getbootstrap.com/icons/mastodon/ -->
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                        aria-hidden="true"
                    >
                        <path
                            d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a4 4 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522q0-1.288.66-2.046c.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764q.662.757.661 2.046z"
                        ></path>
                    </svg>
                    Mastodon
                </span>
                <a
                    class="card-body"
                    href="https://mastodon.social/@leleat"
                    target="_blank"
                    rel="noreferrer"
                >
                    https://mastodon.social/@leleat</a
                >
            </address>
        </li>
    </ul>
</section>

<style>
    h2 + p {
        text-align: justify;
    }

    .card {
        display: flex;
        flex-direction: column;
        background-color: oklch(from var(--color-background) l c h / 50%);
        border: 1px dashed rgba(255 255 255 / 0.3);
        border-radius: 0.5rem;
        padding: 1rem 1.25rem;
        list-style-type: none;
        margin: 0;
    }

    .card-title {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        font-weight: 800;
        margin-block-end: 0.75rem;
    }

    .card-body {
        /* Links don't break up on Chromium otherwise */
        overflow-wrap: break-word;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 0;
        padding: 0;
        margin-block-start: 2rem;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    @media (min-width: 60rem) {
        .card {
            flex: 1 0 0;
            inline-size: 0;
        }

        .card-container {
            flex-direction: row;
        }
    }
</style>
