---
import "../../global.js";

const { class: className, ...rest } = Astro.props;

function generateHash() {
    return Array.from({ length: 6 }, () =>
        Math.floor(Math.random() * 16).toString(16),
    ).join("");
}

const hashes = Array.from({ length: 13 }, generateHash);
let hashIndex = 0;
---

<div class={`marquee-content ${className}`} {...rest}>
    <div class="marquee-item">
        <span class="marquee-item-title">Progamming Languages</span>
        <ul class="marquee-item-body">
            <li data-hash={hashes[hashIndex++]}>JavaScript</li>
            <li data-hash={hashes[hashIndex++]}>TypeScript</li>
            <li data-hash={hashes[hashIndex++]}>GNOME JavaScript</li>
            <li data-hash={hashes[hashIndex++]}>Rust (Foundation)</li>
            <li data-hash={hashes[hashIndex++]}>PHP (Foundation)</li>
        </ul>
    </div>
    <div class="marquee-item">
        <span class="marquee-item-title">Web Technologies</span>
        <ul class="marquee-item-body">
            <li data-hash={hashes[hashIndex++]}>HTML, CSS</li>
            <li data-hash={hashes[hashIndex++]}>
                Angular, Vue, Astro, Tailwind
            </li>
            <li data-hash={hashes[hashIndex++]}>Node.js, Deno</li>
        </ul>
    </div>
    <div class="marquee-item">
        <span class="marquee-item-title">Databases</span>
        <ul class="marquee-item-body">
            <li data-hash={hashes[hashIndex++]}>SQLite</li>
        </ul>
    </div>
    <div class="marquee-item">
        <span class="marquee-item-title">Version Control System</span>
        <ul class="marquee-item-body">
            <li data-hash={hashes[hashIndex++]}>Git</li>
            <li data-hash={hashes[hashIndex++]}>Jujutsu</li>
        </ul>
    </div>
    <div class="marquee-item">
        <span class="marquee-item-title">Misc</span>
        <ul class="marquee-item-body">
            <li data-hash={hashes[hashIndex++]}>Linux</li>
            <li data-hash={hashes[hashIndex++]}>Bash</li>
        </ul>
    </div>
</div>

<style>
    .marquee-content {
        --marquee-item-inline-padding: 1.5rem;
        --marquee-item-block-padding: 1rem;

        display: flex;
        flex-shrink: 0;
        justify-content: space-between;
        min-inline-size: 100%;
        align-items: center;
    }

    .marquee-item {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex-grow: 1;
        block-size: 100%;
        padding-inline: var(--marquee-item-inline-padding);
    }

    .marquee-item-title {
        font-weight: 800;
        color: var(--color-text);
    }

    .marquee-item-title::before {
        content: "$ ";
        color: var(--color-yellow);
    }

    .marquee-item-body {
        margin: 0;
        padding: 0;
        margin-inline-start: -1rem;
    }

    .marquee-item-body li {
        list-style-type: none;
    }

    .marquee-item-body li::before {
        content: attr(data-hash) " ";
        color: #856042;
        margin-inline-end: 0.5ch;
    }
</style>
