---
import "../global.js";
import ArrowDiagonalIcon from "./icons/arrow-diagonal.astro";
import CaretIcon from "./icons/caret.astro";
---

<footer>
    <small>
        Copyright © {new Date().getFullYear()} Anh Tuan Le. &nbsp;
        <a href="/#contact" class="contact-details"> Contact details </a>.
        &nbsp;
        <span class="credits-container">
            <button class="credits-button" popovertarget="credits-popup">
                <span class="credits-label"
                    >Credits
                    <CaretIcon
                        class="caret-icon"
                        size="10"
                        aria-hidden="true"
                    /></span
                >
            </button>
            <ul id="credits-popup" popover>
                <li role="menuitem">
                    <a
                        href="https://icons.getbootstrap.com/icons/asterisk/"
                        target="_blank"
                        rel="noreferer"
                        >Asterisk icon (Bootsrap)
                        <ArrowDiagonalIcon
                            class="dia-arrow"
                            size="12"
                            aria-hidden="true"
                        /></a
                    >
                </li>
                <li role="menuitem">
                    <a
                        href="https://icons.getbootstrap.com/icons/mastodon/"
                        target="_blank"
                        rel="noreferer"
                        >Mastodon icon (Bootstrap)
                        <ArrowDiagonalIcon
                            class="dia-arrow"
                            size="12"
                            aria-hidden="true"
                        /></a
                    >
                </li>
                <li role="menuitem">
                    <a
                        href="https://icons.getbootstrap.com/icons/github/"
                        target="_blank"
                        rel="noreferer"
                        >GitHub icon (Bootstrap)
                        <ArrowDiagonalIcon
                            class="dia-arrow"
                            size="12"
                            aria-hidden="true"
                        /></a
                    >
                </li>
                <li role="menuitem">
                    <a
                        href="https://icons.getbootstrap.com/icons/calendar/"
                        target="_blank"
                        rel="noreferer"
                        >Calendar icon (Bootstrap)
                        <ArrowDiagonalIcon
                            class="dia-arrow"
                            size="12"
                            aria-hidden="true"
                        /></a
                    >
                </li>
                <li role="menuitem">
                    <a
                        href="https://icons.getbootstrap.com/icons/tags-fill/"
                        target="_blank"
                        rel="noreferer"
                        >Tags icon (Bootstrap)
                        <ArrowDiagonalIcon
                            class="dia-arrow"
                            size="12"
                            aria-hidden="true"
                        /></a
                    >
                </li>
                <li role="menuitem">
                    <a
                        href="https://icons.getbootstrap.com/icons/chat-square-dots/"
                        >Chat icon (Bootstrap)
                        <ArrowDiagonalIcon
                            class="dia-arrow"
                            size="12"
                            aria-hidden="true"
                        /></a
                    >
                </li>
                <li role="menuitem">
                    <a
                        href="https://icons.getbootstrap.com/icons/rss-fill/"
                        target="_blank"
                        rel="noreferer"
                        >RSS icon (Bootstrap)
                        <ArrowDiagonalIcon
                            class="dia-arrow"
                            size="12"
                            aria-hidden="true"
                        /></a
                    >
                </li>
                <li role="menuitem">
                    <a
                        href="https://icons.getbootstrap.com/icons/envelope-fill/"
                        >Envelope icon (Bootstrap)
                        <ArrowDiagonalIcon
                            class="dia-arrow"
                            size="12"
                            aria-hidden="true"
                        /></a
                    >
                </li>
                <li role="menuitem">
                    <a href="https://icons.getbootstrap.com/icons/chevron-up/"
                        >Chevron-up icon (Bootstrap)
                        <ArrowDiagonalIcon
                            class="dia-arrow"
                            size="12"
                            aria-hidden="true"
                        /></a
                    >
                </li>
                <li role="menuitem">
                    <a
                        href="https://upload.wikimedia.org/wikipedia/commons/7/7c/Matrix_icon.svg"
                        >Matrix icon (wikimedia)
                        <ArrowDiagonalIcon
                            class="dia-arrow"
                            size="12"
                            aria-hidden="true"
                        /></a
                    >
                </li>
                <li role="menuitem">
                    <a href="https://icons.getbootstrap.com/icons/play-fill/"
                        >Play icon (Bootstrap)
                        <ArrowDiagonalIcon
                            class="dia-arrow"
                            size="12"
                            aria-hidden="true"
                        /></a
                    >
                </li>
                <li role="menuitem">
                    <a href="https://icons.getbootstrap.com/icons/pause-fill/"
                        >Pause icon (Bootstrap)
                        <ArrowDiagonalIcon
                            class="dia-arrow"
                            size="12"
                            aria-hidden="true"
                        /></a
                    >
                </li>
                <li role="menuitem">
                    <a
                        href="https://icons.getbootstrap.com/icons/exclamation-triangle-fill/"
                        >Exclamation Triangle icon (Bootstrap)
                        <ArrowDiagonalIcon
                            class="dia-arrow"
                            size="12"
                            aria-hidden="true"
                        /></a
                    >
                </li>
                <li role="menuitem">
                    <a
                        href="https://icons.getbootstrap.com/icons/caret-right-fill/"
                        >CaretIcon icon (Bootstrap)
                        <ArrowDiagonalIcon
                            class="dia-arrow"
                            size="12"
                            aria-hidden="true"
                        /></a
                    >
                </li>
                <li role="menuitem">
                    <a
                        href="https://icons.getbootstrap.com/icons/arrow-up-right/"
                        >Arrow-Up-Right icon (Bootstrap)
                        <ArrowDiagonalIcon
                            class="dia-arrow"
                            size="12"
                            aria-hidden="true"
                        /></a
                    >
                </li>
                <li role="menuitem">
                    <a
                        href="https://gitlab.gnome.org/GNOME/gnome-backgrounds/-/blob/gnome-42/backgrounds/blobs-l.svg"
                        >Blobs Image (Jakub Steiner / GNOME)
                        <ArrowDiagonalIcon
                            class="dia-arrow"
                            size="12"
                            aria-hidden="true"
                        /></a
                    >
                </li>
            </ul>
        </span>
    </small>
</footer>

<style>
    footer {
        --color-text: #999;

        color: var(--color-text);
        display: flex;
        justify-content: center;
        align-items: center;
        block-size: var(--footer-height);
    }

    small {
        display: flex;
        align-items: center;
    }

    .credits-container {
        position: relative;
    }

    .credits-button {
        color: var(--color-text);
        position: relative;

        &:hover {
            color: var(--color-yellow);
        }
    }

    .credits-label {
        text-decoration: dotted underline;
        position: relative;

        & .caret-icon {
            transition: transform 0.2s;
            position: absolute;
            top: calc(50% - 5px);
            right: -0.75rem;
        }
    }

    .credits-container:has(:popover-open) {
        .credits-label {
            color: var(--color-yellow);
        }

        .caret-icon {
            transform: rotate(-90deg);
            fill: var(--color-yellow);
        }
    }

    [popover] {
        inset: unset;
        bottom: 3rem;
        right: 3rem;
        margin: 0;
        color: var(--color-text);
        background-color: var(--color-background);
        border: 1px solid var(--color-text-dark);
        border-radius: 0.5rem;
        padding: 1rem;
        white-space: nowrap;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);

        & li {
            list-style: none;
        }

        & li > a > .dia-arrow {
            position: relative;
            top: 0.2rem;
            color: var(--color-yellow);
            margin-inline-start: 1ch;
        }

        &:popover-open {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
        }
    }

    .contact-details {
        color: var(--color-text-dim);

        &:hover {
            color: var(--color-yellow);
        }
    }

    @media (min-width: 60rem) {
        [popover] {
            right: unset;
        }
    }
</style>
