---
import "../global.js";
import XLgIcon from "./icons/x-lg.astro";
---

<header {...Astro.props}>
    <button
        class="hamburger-button"
        aria-label="Main Menu"
        popovertarget="navbar-popover"
    >
        <div class="menu-icon">
            <div class="hamburger-line"></div>
            <div class="hamburger-line"></div>
            <div class="hamburger-line"></div>
        </div>
    </button>
    <nav id="navbar-popover" popover>
        <div class="popover-content">
            <div class="popover-header">
                <button
                    class="close-button"
                    aria-label="Close Menu"
                    popovertarget="navbar-popover"
                    popovertargetaction="hide"
                >
                    <XLgIcon size={20} />
                </button>
            </div>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/blog/">Blog</a>
                </li>
                <li>
                    <a
                        href="https://matrix.to/#/@leleat:matrix.org"
                        target="_blank"
                        rel="noreferrer"
                    >
                        Matrix
                    </a>
                </li>
                <li>
                    <a
                        href="https://mastodon.social/@leleat"
                        target="_blank"
                        rel="noreferrer"
                    >
                        Mastodon
                    </a>
                </li>
                <li>
                    <a
                        href="https://github.com/Leleat"
                        target="_blank"
                        rel="noreferrer"
                    >
                        GitHub
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar">
        <ul class="left-box">
            <li>
                <a href="/" aria-label="Home">> Home</a>
            </li>
            <li>
                <a href="/blog/" aria-label="Blog">> Blog</a>
            </li>
        </ul>
        <ul class="right-box">
            <li>
                <a
                    href="https://matrix.to/#/@leleat:matrix.org"
                    target="_blank"
                    rel="noreferrer"
                    title="Matrix"
                    aria-label="Matrix"
                >
                    <!-- https://upload.wikimedia.org/wikipedia/commons/7/7c/Matrix_icon.svg -->
                    <svg
                        width="22"
                        height="22"
                        fill="currentColor"
                        viewBox="0 0 27.9 32"
                        xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true"
                    >
                        <g transform="translate(-.095 .005)">
                            <path
                                d="m27.1 31.2v-30.5h-2.19v-0.732h3.04v32h-3.04v-0.732z"
                            ></path>
                            <path
                                d="m8.23 10.4v1.54h0.044c0.385-0.564 0.893-1.03 1.49-1.37 0.58-0.323 1.25-0.485 1.99-0.485 0.72 0 1.38 0.14 1.97 0.42 0.595 0.279 1.05 0.771 1.36 1.48 0.338-0.5 0.796-0.941 1.38-1.32 0.58-0.383 1.27-0.574 2.06-0.574 0.602 0 1.16 0.074 1.67 0.22 0.514 0.148 0.954 0.383 1.32 0.707 0.366 0.323 0.653 0.746 0.859 1.27 0.205 0.522 0.308 1.15 0.308 1.89v7.63h-3.13v-6.46c0-0.383-0.015-0.743-0.044-1.08-0.0209-0.307-0.103-0.607-0.242-0.882-0.133-0.251-0.336-0.458-0.584-0.596-0.257-0.146-0.606-0.22-1.05-0.22-0.44 0-0.796 0.085-1.07 0.253-0.272 0.17-0.485 0.39-0.639 0.662-0.159 0.287-0.264 0.602-0.308 0.927-0.052 0.347-0.078 0.697-0.078 1.05v6.35h-3.13v-6.4c0-0.338-7e-3 -0.673-0.021-1-0.0114-0.314-0.0749-0.623-0.188-0.916-0.108-0.277-0.3-0.512-0.55-0.673-0.258-0.168-0.636-0.253-1.14-0.253-0.198 0.0083-0.394 0.042-0.584 0.1-0.258 0.0745-0.498 0.202-0.705 0.374-0.228 0.184-0.422 0.449-0.584 0.794-0.161 0.346-0.242 0.798-0.242 1.36v6.62h-3.13v-11.4z"
                            ></path>
                            <path
                                d="m0.936 0.732v30.5h2.19v0.732h-3.04v-32h3.03v0.732z"
                            ></path>
                        </g>
                    </svg>
                </a>
            </li>
            <li>
                <a
                    href="https://mastodon.social/@leleat"
                    target="_blank"
                    rel="noreferrer"
                    title="Mastodon"
                    aria-label="Mastodon"
                >
                    <!-- https://icons.getbootstrap.com/icons/mastodon/ -->
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="18"
                        height="18"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                        aria-hidden="true"
                    >
                        <path
                            d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a4 4 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522q0-1.288.66-2.046c.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764q.662.757.661 2.046z"
                        ></path>
                    </svg>
                </a>
            </li>
            <li>
                <a
                    href="https://github.com/Leleat"
                    target="_blank"
                    rel="noreferrer"
                    title="GitHub"
                    aria-label="GitHub"
                >
                    <!-- https://icons.getbootstrap.com/icons/github/ -->
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="18"
                        height="18"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                        aria-hidden="true"
                    >
                        <path
                            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"
                        ></path>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
</header>

<style>
    a {
        color: var(--color-text-dim);
        text-decoration: none;
        font-size: 0.9rem;
    }

    li {
        list-style-type: none;
    }

    header {
        position: relative;
        margin: 0 auto;
        max-inline-size: calc(var(--max-inline-size) - 2rem);
    }

    .hamburger-button {
        color: var(--color-text-dim);
        display: flex;
        align-items: center;
        justify-content: end;
        cursor: pointer;
        padding: 1.125rem;
        gap: 0.75rem;
        block-size: var(--navbar-height);
        font-weight: 800;
        user-select: none;
        -webkit-user-select: none;
        margin-inline-start: auto;

        &:hover {
            transform: translateY(-3px);
            color: var(--color-yellow);

            & .hamburger-line {
                background-color: var(--color-yellow);
            }
        }

        &:focus-visible {
            outline: none;

            & .menu-icon {
                outline: 2px solid var(--color-rose);
                outline-offset: 2px;
            }
        }
    }

    .navbar {
        display: none;
    }

    body:has(#navbar-popover:popover-open) {
        overflow: hidden;
    }

    #navbar-popover {
        position: absolute;
        width: unset;
        height: unset;
        inset: 0;
        background-color: var(--color-background);

        .popover-content {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .popover-header {
            display: flex;
            justify-content: flex-end;
            padding: 0.5rem;

            .close-button {
                color: var(--color-text-dim);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                padding: 0.5rem;
                user-select: none;
                -webkit-user-select: none;

                &:hover {
                    transform: translateY(-3px);
                    color: var(--color-yellow);
                }

                &:focus-visible {
                    outline: 2px solid var(--color-rose);
                    outline-offset: 2px;
                }
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-inline: 1.5rem;
            flex: 1;

            li {
                padding-block: 1.25rem;
                margin: 0 auto;
            }

            li a {
                color: var(--color-yellow);
                display: block;
                text-align: center;
                font-size: 1.25rem;

                &:hover {
                    text-decoration: 1px dotted underline;
                }
            }
        }
    }

    .menu-icon {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        gap: 5px;
        justify-content: center;

        & .hamburger-line {
            inline-size: 1.5rem;
            block-size: 3px;
            background-color: var(--color-text-dim);
            border-radius: calc(infinity * 1px);
        }
    }

    @media (min-width: 40rem) {
        header {
            border-block-end: 1px solid var(--color-border);
        }

        .hamburger-button {
            display: none;
        }

        body:has(#navbar-popover:popover-open) {
            overflow: auto;
        }

        #navbar-popover {
            display: none;
        }

        .navbar {
            --navbar-button-padding: 0.75rem;

            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0.5rem auto;
            position: relative;
            text-align: right;
            gap: 2.25rem;
            font-weight: 600;
            min-block-size: var(--navbar-height);
            user-select: none;
            -webkit-user-select: none;

            & .left-box {
                display: flex;
                padding: 0;
                margin: 0;
                margin-inline-start: -1.5rem;

                & a {
                    position: relative;
                    padding: var(--navbar-button-padding);

                    &::before {
                        content: "[";
                        color: var(--color-yellow);
                        opacity: 0;
                        margin-inline-end: 0.25ch;
                    }

                    &::after {
                        content: "]";
                        color: var(--color-yellow);
                        opacity: 0;
                        margin-inline-start: 0.25ch;
                    }

                    &:hover {
                        color: var(--color-yellow);

                        &::before,
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }

            & .right-box {
                display: flex;
                margin: 0;
                padding: 0;

                & li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                & a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.25rem;
                    position: relative;

                    &::before {
                        content: "[";
                        color: var(--color-yellow);
                        opacity: 0;
                        margin-inline-end: 0.25ch;
                    }

                    &::after {
                        content: "]";
                        color: var(--color-yellow);
                        opacity: 0;
                        margin-inline-start: 0.25ch;
                    }

                    &:hover {
                        &::before,
                        &::after {
                            opacity: 1;
                        }

                        svg {
                            fill: var(--color-yellow);
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 80rem) {
        .navbar {
            max-inline-size: var(--max-inline-size);
        }
    }

    @media (prefers-reduced-motion: no-preference) {
        .hamburger-button {
            transition: transform 0.15s;

            & .hamburger-line {
                transition: background-color 0.15s;
            }
        }

        .close-button {
            transition:
                transform 0.15s,
                color 0.15s;
        }

        .navbar .left-box a::after {
            transition: height 0.15s;
        }
    }
</style>
