---
import "../../global.js";
import CollectionIcon from "../icons/collection.astro";
import GridIcon from "../icons/grid-3x2.astro";
---

<div class="post-buttons">
    <a class="blog-button" href="/blog">
        <GridIcon class="grid-icon" aria-hidden="true" />
        <span>Browse Topics</span>
    </a>
    <a class="archive-button" href="/blog/archive">
        <CollectionIcon aria-hidden="true" />
        <span>Browse All Posts</span>
    </a>
</div>

<style>
    .post-buttons {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .blog-button,
    .archive-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-weight: 600;
        background-color: var(--color-background-button);
        border: 1px solid var(--color-background-button);
        padding: 1.5rem;
        border-radius: 0.75rem;
        color: var(--color-text);
        text-decoration: none;
        cursor: pointer;
        text-align: center;

        &:hover {
            color: var(--color-yellow);
            border: 1px solid var(--color-yellow);
            background-color: transparent;
        }
    }

    .grid-icon {
        transform: rotate(180deg);
    }

    @media (min-width: 60rem) {
        .post-buttons {
            flex-direction: row;
        }

        .blog-button,
        .archive-button {
            flex: 1 0 0;
            max-inline-size: 50%;
        }
    }
</style>
