---
interface Props {
    pubDate: string;
    editDate?: string;
    author: string;
    class: string;
}

const { pubDate, editDate, author, class: className, ...rest } = Astro.props;
---

<div class={className} {...rest}>
    <div class="dates">
        <p>
            <span>Published</span>
            <time datetime={pubDate}>
                {new Date(pubDate).toLocaleDateString()}
            </time>
        </p>
        {
            editDate && (
                <p>
                    <span>Edited</span>
                    <time datetime={editDate}>
                        {new Date(editDate).toLocaleDateString()}
                    </time>
                </p>
            )
        }
    </div>
    <p class="author">
        <span>By</span>
        <span>{author}</span>
    </p>
</div>

<style>
    p,
    span {
        display: flex;
        gap: 0.5rem;
        font-size: 0.9rem;
        color: var(--color-text-dim);
        margin: 0;
    }

    time,
    .author > span:last-child {
        font-weight: 600;
        font-size: inherit;
        color: var(--color-text);
    }

    .dates {
        display: flex;
        flex-wrap: wrap;
        row-gap: 0.5rem;
        column-gap: 3rem;
    }

    .author {
        margin-block-start: 0.5rem;
    }
</style>
