---
import "../../global.js";
import { getCategoryData } from "../../global.js";

const { post } = Astro.props;
const categoryData = getCategoryData(post.frontmatter.category);
---

<a class="card" href={post.url}>
    <article>
        <span class="card-title">
            {post.frontmatter.title}
        </span>
        <span class="card-description">
            {
                post.frontmatter.description ??
                    post
                        .rawContent()
                        .split("\n")
                        .find((l: string) => l.trim().length)
            }
        </span>
        <div class="card-metadata">
            <div>
                {/* https://icons.getbootstrap.com/icons/calendar/ */}
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"
                    ></path>
                </svg>
                <span>
                    {new Date(post.frontmatter.pubDate).toLocaleDateString()}
                </span>
            </div>
            <div>
                {/* https://icons.getbootstrap.com/icons/folder-fill/ */}
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3m-8.322.12q.322-.119.684-.12h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981z"
                    ></path>
                </svg>
                <span>{categoryData.raw}</span>
            </div>
            {
                post.frontmatter.tags.length > 0 && (
                    <div>
                        {/* https://icons.getbootstrap.com/icons/tags-fill/ */}
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            viewBox="0 0 16 16"
                        >
                            <path d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
                            <path d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043z" />
                        </svg>
                        <span>{post.frontmatter.tags.join(", ")}</span>
                    </div>
                )
            }
        </div>
    </article>
</a>

<style
    define:vars={{
        transitionName: post.frontmatter.title
            .replace(/[^a-zA-Z]/g, "")
            .toLowerCase(),
    }}
>
    svg {
        min-inline-size: 1rem;
        min-block-size: 1rem;
    }

    .card {
        display: flex;
        flex-direction: column;
        background-color: oklch(from var(--color-background) l c h / 50%);
        border-radius: 0.5rem;
        padding-block: 1.25rem;
        margin-block-start: 2rem;
        text-decoration: none;
        box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.05);
        position: relative;

        &:hover {
            background-color: transparent;

            & article > * {
                color: var(--color-yellow);
            }
        }
    }

    & .card-title {
        color: var(--color-titletext);
        font-size: 1.25rem;
        font-weight: 600;
        margin-block-end: 0.75rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & .card-description {
        color: var(--color-text);
        margin-block-end: 1.5rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & .card-metadata {
        color: var(--color-text-dim);
        display: flex;
        flex-wrap: wrap;
        gap: 1rem 3rem;
        font-size: smaller;

        & > * {
            display: flex;
            align-items: center;
            gap: 0.75rem;
        }

        & :nth-child(2) span {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    @media (min-width: 40rem) {
        .card {
            padding: 1.5rem;
            padding-block-start: 2rem;
            margin-block-start: 3rem;
            border: 1px solid var(--color-text);

            &:hover {
                border: 1px solid var(--color-yellow);
            }
        }

        & .card-title {
            position: absolute;
            top: -0.8rem;
            left: 1rem;
            background-color: var(--color-background);
            padding-inline: 0.5rem;
            margin-block-end: 0;
            -webkit-line-clamp: 1;
        }
    }

    @media (prefers-reduced-motion: no-preference) {
        .card {
            view-transition-name: var(--transitionName);
        }
    }
</style>
